/**********************************************************
* Banner 
**********************************************************/
.logOut{
  color: red;
  font-size: larger;
  margin-left: 5px;
  pointer-events: stroke;
}

.cont-user {
  display: none;
}

/**********************************************************
* Contenedor de botones
**********************************************************/
.divMenu{
  display: none;
}

#divOpciones, #divMensajes{
  position: relative;
  width: 98%;
  left: 2%;
}

#divBtnHist{
  padding-top: 10px;
  border-bottom: solid 1px #7fbeeb;
}

#divHist{
  overflow: auto;
  height: 75%;
}

.divContHeader{
  height: 5% !important;
  border-bottom: solid 1px #7fbeeb;
  text-transform: uppercase;
  background: #7fbeeb;
  color: #32455f;
}

.divContBody{
  height: 94% !important;
  overflow-y: scroll;
}

.btn-Opc{
  width: 100%;
  text-transform: uppercase;
  background: #7fbeeb;
  margin-top: 2px;
  color: #32455f;
}

.btn-Opc:hover{
  background: #9fcae9;
  color: #fff;
}

/**********************************************************
* General
**********************************************************/
.margin-top{
  margin-top: 1%;
}

.borderTop{
  border-top: 0px !important;
}

.linea{
  border: solid 1px #7fbeeb;
  border-radius: 5px
}