body
{
	font-family: Arial;
	text-decoration: none;
	color: #000000;
	font-size: 10 px;
}

.tablaPrincipal
{
	width: 100%;
	height: 100%;
}
.contenedorPrincipal{
  padding: 5px;
  width: 99%;
  height: 98%;
  margin: auto;
  box-shadow:0px 0px 15px gray;
  -moz-box-shadow:0px 0px 15px gray;
  overflow: hidden;
}
.Mensajes
{
  width: 100%;
  height: 225px;
  overflow: auto;
}
.MenuBotones
{
  display: block;
  overflow: auto;
  height: 440px;
}
.logoafore
{
	height: 40px;
	width: 300px;
}
.titulo
{
	font-weight: bold;
	text-align: center;
	background-color: #5A9ECF;
  color: navy;
}
.textoNegrita14
{
   font-size: 14px;
  font-weight: bold;
}
.textoNegrita16
{
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}
.cajaTexto
{
	border:1px solid #12AFED;
	border-radius: 4px;
}
.cajaTextoDerecha
{
  border:1px solid #12AFED;
  border-radius: 4px;
  text-align: right;
}
.cajaTextoIzquierda
{
  border:1px solid #12AFED;
  border-radius: 4px;
  text-align: left;
}
#divContenedor
{
	border:1px solid #12AFED;
	border-radius: 4px;
	width: 100%;
  height: 100%;
}
.bordeRedondo
{
	border:1px solid #12AFED;
	border-radius: 4px;	
}
.btn-primary {
    color: #FFF;
    background-color: #337AB7;
    border-color: #2E6DA4;
}
.btn-primary:hover {
    color: #FFF;
    background-color: #286090;
    border-color: #204D74;
}
.btn-primary.focus, .btn-primary:focus {
    color: #FFF;
    background-color: #286090;
    border-color: #122B40;
}
.btn {
    display: inline-block;
    padding: 3px 6px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btnMenu
{
  width: 100%;
}