<table width="100%" height="100%" border="0">
	<tr>
		<td align="center" valign="top"><br><br><br><br><br><br><br><br><br>
			<table border="0" width="400" class="bordeRedondo">
				<tr><td class="titulo bordeRedondo" colspan="2">Escriba su Número de Empleado.</td></tr>
				<tr><td heigth="10%"><br></td></tr>
				<tr><td align="right" width="50%">Empleado:</td>
					<td><input type="text" id="txtNumEmpleado" class="bordeRedondo" size="10" maxlength="8" autofocus/></td>
				</tr>
				<tr><td heigth="20%"><br></td></tr>
				<tr>
					<td align="right"><button id="btnEntrar" class="btn btn-primary">Entrar</button></td>
					<td><button id="btnApagar" class="btn btn-primary">Apagar</button></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<div id="divApplet"></div>