<table width="100%" height="100%" border="0" >
	<tr>
		<td width="100%" height="50%"><div id="divBotones" class="contenedorPrincipal MenuBotones"></div></td>
	</tr>
	<tr>
		<td width="100%" valign="top" class="bordeRedondo">
		<table width="100%" height="100%" border="0">
			<tr><td width="85%" height="3%"><input type="text" id="txtMensajeActual" class="titulo bordeRedondo btnMenu cajaTextoIzquierda textoNegrita16" readonly></td>
				<td><button id="btnHistoMensajes" class="btn btn-primary btnMenu">Historial de Mensajes</button></td>
			</tr>
			<tr><td colspan="2" valign="top"><div id="divMensajes" class="Mensajes bordeRedondo"></div></td></tr>
		</table>
		</td>
	</tr>
</table>
<div id="divSubMenu" class="divDialogo"></div>
<div id="divMensaje" class="divDialogo"></div>
<div id="divHistoMensajes" class="divDialogo"></div>
<div id="divAppletExecApp"></div>